:root{
    --color-white:#FFFFFF;
    --color-black:#1F1F1F;
    --color-black-opacity: rgba(31, 31, 31, 0.9);
    --color-black000:#000000;
    --color-black000-opacity:rgba(0, 0, 0, 0.9);
    --color-light-blue:#EDF5FB;
    --color-blue: #0376C4;
    --color-blue-opacity: rgba(3, 118, 196, 0.9);


    --font-avenir-heavy: "Avenir-Heavy";
    --font-avenir-medium: "Avenir-Medium";
    --font-pier-sans-black: "PierSans-Black";
    --font-pier-sans-bold: "PierSans-Bold";
    --font-pier-sans-medium: "PierSans-medium";
    --font-pier-sans-regular: "PierSans-Regular";
    --font-pier-nexa-book:  "Nexa-Book";
    --form-background: rgba(255, 255, 255, 0.5);

    --form-border-radius-15: 15px;
    --form-border-radius-10: 10px;
}


